@-webkit-keyframes repaintChrome {from { padding: 0; } to { padding: 0; }}
body { -webkit-animation: repaintChrome infinite 1s; }

@font-face {
    font-family: myAllerFont;
    src: url(../fonts/Aller_Rg.ttf);
}
@font-face {
    font-family: mybudmojigglish;
    src: url(../fonts/budmojigglish.ttf);
}
@font-face {
    font-family: myvtksdejavuregular;
    src: url(../fonts/vtks-deja-vu.regular.ttf);
}
@font-face {
    font-family: tr2nregular;
    src: url(../fonts/tr2nregular.ttf);
}
body {
    font: 15px/1.5 myAllerFont;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
/* Global */
.container {
    width: 80%;
    margin: auto;
   overflow: hidden;
}
#current {
    color: #090909;
}
/* Header */
header {
    ul.topnav li.icon {display: none;}
    background-color: #ffffff;
    color: #ffffff;
    border-bottom: #d2d2d2 1px solid;
    -webkit-box-shadow: 0px 2px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px -3px rgba(0,0,0,0.75);
    a {
        color: #6f6f6f;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
    }
    ul{
        margin: 0;
        padding: 0;
    }
    li {
        float: left;
        display: inline;
        margin: 0 20px 0 20px;
    }
    padding-top: 20px;
    min-height: 70px;
    padding-bottom: 15px;
    img {
        width: 100%;
        height: inherit;
    }
    #branding {
        margin: 0;
        float: left;
        max-width: 250px;
    }
    nav {
        float: right;
        margin-top: 25px;
    }
    a {
        -webkit-transition: color 0.3s; /* Safari */
        transition: color 0.3s;
    }
    a:hover, a:focus {
        color: #ff3d3d !important;
        text-shadow:0px 0px 2px #ff6666;
        -webkit-transition: color 0.3s; /* Safari */
        transition: color 0.3s;
    }


}
.myphoto {
  background-image: url(../img/myself.jpg);
  height: 300px;
  width: 300px;
  margin: auto;
  margin-top: 30px;
  background-position: center;
  background-size: contain;
  border-radius: 150px;
}

.homebio {
  h1 {
    font-size: 4em;
    text-align: center;
    text-align: -webkit-center;
  }
  p {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.5em;
  }
}

.article-class {
  color: #3d3d3d;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.25);
}




/* Responsiveness */

@media screen and (max-width: 1000px) {
    header #branding {
        float: none;
        margin: auto;
    }
    header li {
        float : none;
    }
    header nav {
        float: none;
        text-align: center;
    }
}
@media screen and (max-width: 710px) {
    header nav ul li.normal{
        float: left;
        display: inline;
        text-align: left;
    }
    header ul.topnav li:not(:first-child) {display: none;}
    header ul.topnav li.icon {
      float: right;
      display: inline-block;
    }
    header ul.topnav.responsive {position: relative;}
    header ul.topnav.responsive li.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    header ul.topnav.responsive li {
      float: none;
      display: inline;
    }
    header ul.topnav.responsive li a {
      display: block;
      text-align: left;
    }
    .myphoto {
      width: 50vw;
      height: 50vw;
      border-radius: 25vw;
    }
}
